<%= provide(:title,'signup') %>
<h1>signup</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |t| %>
    <%= render 'shared/error_messages' %>
      <%= t.label :name %>
      <%= t.text_field :name class: "form-control"%>
      
      <%= t.label :email %>
      <%= t.email_field :email class: "form-control"%>

      <%= t.label :password %>
      <%= t.password_field :password class: "form-control"%>

      <%= t.label :password_confiromation %>
      <%= t.password_field :password_confiromation class: "form-control"%>

      <%= t.submit "Create my Account", class: "btn btn-primary"%>
      <% end%>
  </div>
</div>